build: false
shallow_clone: false
platform: 'x86'
clone_folder: C:\projects\zodiacsign
init:
  - ps: Set-Service wuauserv -StartupType Manual
  - cinst -y php -version 7.4.13
  - SET PATH=c:\tools\php74;%PATH%
install:
  - cd C:\tools\php74
  - copy php.ini-production php.ini
  - echo date.timezone="UTC" >> php.ini
  - echo extension_dir=ext >> php.ini
  - echo extension=php_openssl.dll >> php.ini
  - echo extension=php_mbstring.dll >> php.ini
  - cd C:\projects\zodiacsign
  - php -r "readfile('https://getcomposer.org/installer');" | php
  - php composer.phar install --prefer-dist --no-interaction
test_script:
  - cd C:\projects\zodiacsign
  - vendor\bin\phpunit.bat
